{% extends 'recipes/base.html' %}
<!-- -->

{% block content %}
<section id="mission">
    <h2>Our Mission</h2>
    <p>At Flavfusion, we believe that cooking should be an adventure, not a chore. Our mission is to bring food lovers together by providing a platform where everyone can share and discover delicious recipes from around the world. Whether you’re a seasoned chef or just starting your culinary journey, we’re here to inspire and empower you in the kitchen.</p>
</section>

<section id="signup">
    <h2>Why Sign Up?</h2>
    <p>To fully enjoy everything Flavfusion has to offer, we encourage you to sign up. As a registered member, you’ll be able to:</p>
    <ul>
        <li>Post your own recipes and share your culinary creativity.</li>
        <li>Comment on and rate recipes from other users.</li>
        <li>Save your favorite recipes for easy access later.</li>
        <li>Receive updates and notifications about new recipes and community events.</li>
    </ul>
</section>

{% endblock content %}